body {
    margin: 0;
    padding: 0;
    text-align: center;
    font: 500 1em/1.2em Arial, Tahoma, sans-serif;
    color: #FF0000;
}

header,
footer {
    display: block;
    height: 405px;
    background: url(Granat.png) repeat-x center bottom;
    padding: 200px 0;
    background: #222;
}

h1 {
    color: #FF0000;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    color: #FF0000;
    font-weight: 400;
    text-transform: lowercase;
}

article {
    background: #FF0000;
    padding: 50px;
    color: #000000;
}

.bl {
    float: left;
    width: 150px;
    margin: 0 15px;
    background: #FF0000;
    padding: 50px 10px;
}

.mid {
    width: 1200px;
    margin: 0 auto;
}

.number {
    font-size: 5em;
    padding: 0 0 50px;
    font-weight: bold;
}

footer {
    padding: 200px 0 100px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}